* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* text style */
h1,
h2 {
	text-align: center;
	margin: 1rem 0;
}
.header {
	text-transform: capitalize;
}

/* input field style */
.input_container {
	display: flex;
	flex-direction: column;
}
input {
	padding: 10px;
	margin: 10px;
}
.add_btn {
	font-size: 15px;
	padding: 10px 25px;
	margin: 1rem;
	align-self: center;
}

/* table */
th,
td {
	text-align: center;
	padding: 20px;
}

.table_container {
	display: flex;
	flex-direction: column;
}
tr {
	text-align: center;
}
#info_table {
	padding: 20px;
}
.delete_btn {
	padding: 5px 10px;
	font-size: 15px;
}
